* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: HelveticaInserat LT;
    src: url(fonts/Helvetica Inserat LT.ttf);
}
body {
    max-width: 1280px;
    min-width: 800px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
p {
    text-indent: 25px;
    text-align: justify;
}
li {
    display: block;
}
.content {
    padding: 10px 80px;
}
.logo {
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 0;
}
/*------------------------------------
HEADER
--------------------------------------
*/

.header_container {
    background-color: #cccccc;
    padding: 60px 10px 0px;
    margin-bottom: 10px;

}
.main_nav a {
	display: inline-block;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 6px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 3px;
    transition: 0.5s;
}
.main_nav a:hover {
    background-color: #000;
    transition: 0.5s;
}
.toggle_top_btn {
    display: inline-block;
}
.lang {
    display: inline-block;
    float: right;
}
.lang_icon {
	background-color: #ebebeb;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.lang_icon:hover {
    border: 2px solid #000;
}
.flag_show {
    border: 2px solid #000;
}
.arrow_icon {
    font-size: 8px;
}
.menu_nav {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
}
.menu_nav a{
    float: none;
    background-color: #000;
    padding: 8px 16px;
    font-size: 11px;
    border-top: 1px solid #fff;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu_nav a:first-child{
    border-top: none;
}
.menu_nav a:hover {
    background-color: #000;
}
.show {
    display: block;
}
.btncol {
    background-color: #000 !important;
}
/*----------------------------------------------
MAIN CONTENT
----------------------------------------------*/

.main_content {
    display: flex;
    color: #fff;
    font-size: 12px;
}

/*-----------------------------------------------
LEFT COLUMN
-----------------------------------------------*/

.left_column {
    background-color: #515151;
    width: 70%;
    border: 10px solid #cccccc;
    padding: 10px;
}
.title {
	font-family: HelveticaInserat LT;
    font-size: 30px;
    border-bottom: 4px ridge #666;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.left_column_info{
    padding-bottom: 100px;
}

/*----------------------------------------------
RIGHT COLUMN
----------------------------------------------*/

.right_column {
    background-color: #515151;
    width: 30%;
    border: 10px solid #a3a3a3;
    padding: 10px;
}
.right_column_nav {
    list-style-type: none;
    background-color: #000;
}
li a {
    display: block;
    font-size: 11px;
    color: #fff;
    padding: 8px 16px;
}
.r_nav_content {
    background-color: #000;
    padding: 10px;
    border-top: 1px solid #ccc; 
}
.r_nav_content:first-child {
    border: none;
}
.r_nav_content .nav_item_info {
    display: none;
    padding : 5px;
    text-align: justify;
}
.r_nav_content .nav_item {
    cursor: pointer;
    font-size: 13px;
}
.arrow_symb {
    float: right;
    font-size: 8px;
    transition: all 0.2s;
}
.open .arrow_symb {
    transform: rotate(90deg);
}

/*-----------------------------------------------
FOOTER
-----------------------------------------------*/

.footer_content {
    background-color: #cccccc;
    margin-top: 10px;
    padding: 10px;
    font-size: 11px;
    vertical-align: middle;
    color: #515151;
}
.footer_info {
    display: inline-block;
    vertical-align: middle;
}
.footer_links {
    float: right;
}
.footer_links a{
    text-decoration: underline;
    padding-right: 10px;
    color: #515151;
}